.search-bar {
    display: flex;
    border: 2px solid #15B4EA;
    padding: 8px;
    width: 210px;
    margin-bottom: 5px;
    margin-top: 50px;
}

.search-bar input {
    background-color: white;
    color: black;
    border: none;
    outline: none;
    width: 200px;
    height: 25px;
    padding: 4px;
}
