
.text-field {
    margin-bottom: 5px;
}

.text-field label {
    display: block;
}

.text-field input {
    width:100%;
    background-color: white;
}

.text-field-RD {
    width:100%;
    background-color: white;
}